.category__content {
  display: flex;
  flex-direction: column;
}

.category__cards {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
  gap: 30px;
}

@media screen and (max-width: 1024px) {
  .category__title {
    display: flex;
    justify-content: center;
  }
}
